<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/donatas-l/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Donatas-L" />
            <add key="ClearTextPassword" value="30fded9a97b81cfca84d46e85a448da8597d3be3" />
        </github>
    </packageSourceCredentials>
</configuration>